openapi: 3.0.0

info:
    title: AbuseIPDB.com
    description: This plugin will provide the functionality to fetch the details of an IP address using the AbuseIPDB.
    version: "0.0.1"

servers:
    - url: https://api.abuseipdb.com/

paths:
    /api/v2/check:
        get: 
            operationId: GetIPReputation
            summary: Get Information about the IP address. 
            parameters:
                - in: query 
                  name: ip
                  schema:
                  description: The IP address to check.
                    type: string
                  required: true
                - in: query
                  name: maxAgeInDays 
                  schema:
                    type: integer
                    default: 90
                  required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  ipAddress:
                    type: string
                    description: The IP address being checked.
                  abuseConfidenceScore:
                    type: integer
                    description: The abuse confidence score.
                  country:
                    type: string
                    description: The country associated with the IP address.
                  countryCode:
                    type: string
                    description: The country code associated with the IP address.
                  usageType:
                    type: string
                    description: The usage type of the IP address.
                  isp:
                    type: string
                    description: The ISP associated with the IP address.
                  domain:
                    type: string
                    description: The domain associated with the IP address.
                  totalReports:
                    type: integer
                    description: The total number of reports for the IP address.
                  numDistinctUsers:
                    type: integer
                    description: The number of distinct users reporting the IP address.
                  lastReportedAt:
                    type: string
                    format: date-time
                    description: The date and time of the last report for the IP address.
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too many requests
        '500':
          description: Internal server error
